*~
*.elc
/elpa
tramp
places
recentf
auto-save-list
tmp
*_flymake*
session.*
/emms
*.dat
/eshell
projectile-bookmarks.eld


init*.el
init.el*
ido.last

\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
/.hl-save
/lisp/custom-bkp.el
/.mc-lists.el
/helm-adaptive-history
/network-security.data
/projectile.cache
/var/pcache/cache
